*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: rgb(190, 190, 190);
}
::-webkit-scrollbar-thumb:hover {
  background: 1rgb (142, 142, 142);
}

body {
  min-height: 100vh;
  background: #dfdfdf;
  box-shadow: inset 0 15vh #439688;
  padding: 2vh;
  color: #111b21;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

input,
select,
textarea {
  font: inherit;
  font-size: 0.9rem;
  line-height: 1.25rem;
}

button {
  cursor: pointer;
}

*:focus {
  outline: 2px solid #6cc8a7;
}

img {
  display: block;
  max-width: 100%;
}

main {
  background: #e0d9d6;
  margin-inline: auto;
  height: 96vh;
  max-width: 1600px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.sidebar {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto auto 1fr;
}

.chat {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.sidebar {
  border-right: 1px solid #eaedef;
}

.sidebar-header,
.chat-header {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f0f2f5;
  border-bottom: 1px solid #eaedef;
}

.sidebar-header img,
.chat-header img {
  height: 2.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
}

.header-icons {
  display: flex;
  gap: 1rem;
}

[class*="ph-"] {
  font-size: 1.5rem;
  color: #747474;
  border-radius: 50%;
  cursor: pointer;
}

.chat-header-info {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1rem;
}

.chat-header-title {
  font-weight: normal;
  font-size: 1rem;
  margin-bottom: 0.2rem;
}

.chat-header-subtitle {
  font-weight: normal;
  color: #667781;
  font-size: 0.8125rem;
}

.sidebar-search {
  background: #fff;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #eaedef;
}

.search-input {
  background: #f0f2f5;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.search-input:focus-within {
  outline: 2px solid #6cc8a7;
}

.search-input label {
  display: flex;
  align-items: center;
}

.search-input input {
  border: none;
  background: none;
  width: 100%;
}

.search-input input:focus {
  outline: none;
}

.ph-magnifying-glass-bold {
  font-size: 1rem;
}

.sidebar-chats {
  background: #fff;
  overflow-y: scroll;
}

.sidebar-chats-item {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  gap: 1rem;
  transition: all 0.1s;
}

.sidebar-chats-item:hover,
.sidebar-chats-item.active {
  background: #f5f6f6;
  cursor: pointer;
}

.sidebar-chats-item-text {
  display: flex;
  gap: 1rem;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eaedef;
  padding: 1rem;
}

.sidebar-chats-item-title {
  font-weight: normal;
  font-size: 1rem;
  margin-bottom: 0.4rem;
}

.sidebar-chats-item-subtitle {
  font-weight: normal;
  color: #667781;
  font-size: 0.9rem;
}

.sidebar-chats-item-time-status {
  display: grid;
  gap: 0.4rem;
  color: #667781;
  justify-items: end;
  font-size: 0.75rem;
}

.sidebar-chats-item .ph-speaker-slash-fill {
  font-size: 1.2rem;
  color: #8797a0;
  visibility: hidden;
}

.sidebar-chats-item.muted .ph-speaker-slash-fill {
  visibility: initial;
}

.sidebar-chats-item img {
  border-radius: 50%;
  width: 3rem;
  aspect-ratio: 1;
}

.chat-input {
  background: #f0f2f5;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 1rem;
  padding: 0.5rem 1rem;
  align-items: center;
}

.chat-input input {
  background: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.chat-input-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.chat-body {
  overflow-y: scroll;
  padding: 1rem 2rem;
}

.chat-message {
  max-width: 55ch;
  background: #fff;
  border-radius: 0 6px 6px 6px;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.3rem;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
  position: relative;
}

.chat-message + .chat-message {
  margin-top: 1rem;
}

.chat-message::before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid #fff;
  border-top: 5px solid #fff;
  border-bottom: 5px solid transparent;
  left: -10px;
  top: 0;
}

.chat-message-content {
  display: grid;
  gap: 0.5rem;
  padding: 0.8rem;
}

.chat-message-content h4 {
  font-weight: 600;
  font-size: 0.8125rem;
  cursor: pointer;
}

.chat-message-content h4:hover {
  text-decoration: underline;
}

.chat-message-content p {
  font-size: 0.875rem;
}

.chat-message time {
  color: #667781;
  font-size: 0.6875rem;
  align-self: end;
  padding: 0.3rem 0.6rem;
}

.chat-message.mine {
  background: #ddfcd5;
  margin-left: auto;
  border-radius: 6px 0 6px 6px;
}

.chat-message.mine::before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 5px solid #ddfcd5;
  border-right: 5px solid transparent;
  border-top: 5px solid #ddfcd5;
  border-bottom: 5px solid transparent;
  left: 100%;
  top: 0;
}

.azul {
  color: #0084f8;
}

.azul-claro {
  color: #53bdeb;
}

.verde {
  color: #1fa855;
}

.roxo {
  color: #7f66ff;
}

.rosa {
  color: #e542a3;
}

.mostarda {
  color: #c89631;
}
